.swiper {
	width: 100%;
	height: 65%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.courses-bg {
	background-color: var(--primary-color);
}

.courses-title {
	color: var(--cream-color);
}
