.swiper {
	width: 100%;
	height: 65%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: var(--gray-color);

	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.courses-bg {
	background-color: var(--primary-color);
}

.courses-title {
	color: var(--cream-color);
}

.globe {
	background-image: url('../../images/globe.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 767px) {
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: var(--gray-color);

		display: flex;
		justify-content: center;
		align-items: start;
	}
}
