.full-height {
	height: 100vh;
}

.globe {
	background-image: url('../../images/globe.svg'); /* Update the path to your SVG file */
	background-size: cover; /* Adjust as needed */
	background-position: center; /* Adjust as needed */
	background-repeat: no-repeat;
	/* color: #20f2f2; */
}

.header-bg {
	background-color: var(--primary-color);
}

/* .title {
	color: rgb(249, 247, 247, 0.9);
} */

.header-title h2 {
	color: var(--cream-color);
	font-family: var(--font-base);
}

.header-title p {
	color: var(--gray-color);
	font-size: small;
}
