.full-height {
	height: 100vh;
}

.height-10 {
	height: 10%;
}

.height-20 {
	height: 20%;
}

.height-80 {
	height: 80%;
}
.height-90 {
	height: 90%;
}

.height-100 {
	height: 100%;
}

.astronaut {
	background-image: url('../../images/astronaut.svg'); /* Update the path to your SVG file */
	background-size: 80%; /* Adjust as needed */
	background-position: center; /* Adjust as needed */
	background-repeat: no-repeat;
	/* color: #20f2f2; */
}

.welcome-bg {
	background-color: var(--gray-color);
}

.title {
	color: var(--primary-color);
}
