.tooltip {
	max-width: 300px !important;
	background-color: var(--white-color) !important;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
	padding: 1rem !important;
	color: var(--gray-color) !important;
	text-align: center !important;
	line-height: 1.5 !important;
	opacity: 1 !important;

	@media screen and (min-width: 2000px) {
		font-size: 1.75rem !important;
		max-width: 500px !important;
		line-height: 2 !important;
	}
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	max-width: 100%;
	height: auto;
}

.ava {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
}

.ava:hover {
	transform: scale(1.2);
}

.ava:active {
	transform: scale(0.9);
}

.ava-large {
	width: 60%;
	height: auto;
}

.ava-small {
	width: 45%;
	height: auto;
}

@media (max-width: 767px) {
	.ava-large {
		width: 100%;
		height: auto;
	}

	.ava-small {
		width: 80%;
		height: auto;
	}
}
