.img-size {
	height: 40%;
	width: 100px;
}

.height-100 {
	height: 100%;
	width: 100%;
}

.card-body {
	background-color: var(--gray-color);
}

.btn {
	background-color: var(--secondary-color);
	border: none;
	color: var(--cream-color);
}

.card {
	border: none;
}

.card-title {
	color: var(--primary-color);
}

.card-text {
	color: var(--primary-color);
	text-align: justify;
}

/* @media (max-width: 767px) {
	.height-100 {
		height: 200%;
		width: 100%;
	}
} */
