.nav-color {
	/* background-color: rgba(219, 226, 239, 0.1); */
	/* secondary color */
	background-color: rgb(63, 114, 175, 0.6);
}

.navbar-brand {
	color: var(--gray-color);
}

.nav-link {
	color: var(--gray-color);
}

.dd-item {
	color: var(--prinary-color);
	text-decoration: none;
	/* font-weight: bold; */
}
