.nav-color {
	/* background-color: rgba(219, 226, 239, 0.1); */
	/* secondary color */
	background-color: rgb(63, 114, 175, 0.9);
}

.navbar-brand {
	color: var(--gray-color);
}

.nav-link {
	color: var(--gray-color);
}

.dd-item {
	color: var(--prinary-color);
	text-decoration: none;
	/* font-weight: bold; */
}

.logo {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.skrt {
	text-decoration: none;
	color: var(--prinary-color);
}

.offcanvas-color {
	background-color: var(--cream-color);
}
